#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.go-down{
 position: fixed;
  bottom: 0;
  right: 0;
}

section{
  padding-bottom: 100px;
}

p{
  padding-top: 25px;
}

h2 {
  color: rgb(201, 98, 2);
}

button{
  padding: 10px 20px;
}

.data-container{
  margin: 0 auto;
  max-width: 1120px;
  width: 80vw;
}

.fetched-Users{
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.user{
  list-style: none;
  padding: 0;
}

.user p {
  padding: 0;
}

.user img {
  width: 100px;
}

.context-api-div{
  display: flex;
 align-items: center;
 justify-content: space-between;
}

.user-container{
  width: 100%;
}

.context-api-nav{
  display: flex;
  list-style: none;
  padding: 0;
  gap: 50px;
  width: 100%;
}